.daily {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  overflow: hidden;
  overflow-x: scroll;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  .item {
    user-select: none;
    box-shadow: 0px 12px 32px rgba(179, 193, 220, 0.4);
    border-radius: 28px;
    flex-grow: 1;
    flex-basis: 0;
    display: inline-flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem;
    background-color: $white;
    &:hover {
      background-color: $redish;
      color: $white;
    }
    small {
      margin-bottom: 1rem;
    }
  }
}
