form.search-bar {
  box-sizing: border-box;
  display: flex;
}

form.search-bar input {
  padding: 0.75rem 0.825rem;
  border-radius: 0.375rem;
  border: #b3c1dc 1px solid;
  min-width: 70%;
  max-width: 80%;
  background-color: #f2f4f7;
  font-size: 16px;
  color: #02283b;
  box-sizing: border-box;
}

form.search-bar button {
  color: #fff;
  margin-left: auto;
  padding: 0.75rem 0.975rem;
  border: #5b6c74 0px solid;
  border-left: none;
  background-color: #448dfa;
  font-size: 16px;
  border-radius: 0.375rem;
  box-sizing: border-box;
}

form.search-bar button img {
  height: 12px;
  width: auto;
  color: #fff;
}