* {
  font-family: 'Fira Sans', sans-serif;
}
.heading {
  font-weight: 600;
}
.loader {
  margin: auto;
}
.page-wrapper {
  min-height: 100vh;
  height: 100vh;
}
.full-height {
  height: 100vh;
  min-height: 100vh;
}
.btn-pin {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #cccccc;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn,
input,
.input-custom {
  padding: 1.5rem 1rem;
  font-weight: 600;
}
.btn-sm {
  padding: 0.5rem 0.825rem;
}
.icon-container {
  border-radius: 50%;
  background-color: $primary;
  margin-bottom: 0.825rem;
  max-height: 54px;
  max-width: 54px;
  @media screen and (min-width: 767px) {
    margin-bottom: auto;
  }
  svg {
    margin: 1rem;
    height: 16px;
    width: 16px;
  }
}
.card {
  border-radius: 1.8em;
}
.x-scroll {
  overflow: auto;
  white-space: nowrap;
}
