.container {
  margin-top: 2.25rem;
  border-radius: 12px;
  padding: 1.25rem;
  background-color: rgba(1, 28, 41, 0.6);
  color: white;
}
.container::before {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
p {
  margin: 0.5rem;
}
.daily {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: left;
  font-size: 0.88rem;
  font-weight: 300;
}
.daily div {
  margin-bottom: 2rem;
  border-left: 1px solid rgba(255, 255, 255, 0.06);
}
.daily div p strong {
  padding-bottom: 26px;
  color: #fff;
}
.text-muted {
  color: rgba(255, 255, 255, 0.6);
}
.daily div:first-child {
  border-left: none !important;
}
.main-info {
  display: flex;
  flex-flow: row wrap-reverse;
  align-items: center;
  text-align: left;
  margin-bottom: 2rem;
  padding-bottom: 1.5rem;
}
/* .main-info div {
  margin-right: 1.2rem;
} */
.main-info-details {
  max-width: 690px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}
.main-info-details p {
  padding: 0px;
  line-height: 0.7;
}
.icon-weather {
  height: 6.5rem;
  width: auto;
  fill: white !important;
}
.icon-weather {
  fill: #fff !important;
}
.description {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}
.description-title {
  font-size: 0.875rem;
  display: initial;
  text-align: left;
}
.temperature {
  font-size: 6.75rem;
  font-weight: 100;
}
.description-main {
  color: #fff;
  font-size: 2.25rem;
  font-weight: 300;
  text-align: left;
}
.extra-info {
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  font-size: 1rem;
  width: 100%;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 0px solid rgba(255, 255, 255, 0.158);
}
.extra-info p {
  margin-right: 1.825rem;
  font-weight: 300;
  font-size: 0.88rem;
}
@media screen and (max-width: 767px) {
  .container {
    padding: 1rem !important;
    margin: 0.6rem;
    margin-top: 1.2rem;
  }
  .icon-weather {
    height: 3rem;
    display: none;
  }
  .temperature {
    font-size: 2.75rem;
    font-weight: 100;
  }
  .description-title {
    display: none;
  }
  .description-main {
    font-size: 1.25rem;
  }
}
