@import url("https://fonts.googleapis.com/css?family=Roboto:100, 300, 400");
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background-color: #f2f4f7;
  background: url("../src/assets/bg-img-clouds.jpg") no-repeat;
  background-size: cover;
  font-size: 16px;
  min-height: 100vh;
}
